colorama==0.4.6
greenlet==3.5.1
numpy==2.4.4
pandas==3.0.3
pyqtgraph==0.14.0
PySide6==6.11.0
PySide6_Addons==6.11.0
PySide6_Essentials==6.11.0
python-dateutil==2.9.0.post0
shiboken6==6.11.0
six==1.17.0
SQLAlchemy==2.0.49
typing_extensions==4.15.0
tzdata==2026.2
