#subHeader {
    background-color: #252526;
    border-bottom: 1px solid #3E3E42;
    min-height: 50px;
}

#subHeader QLabel {
    color: white;
    font-weight: 500;
}

#subHeader QComboBox,
#subHeader QDoubleSpinBox {
    min-height: 28px;
}

#subHeader QPushButton {
    min-height: 28px;
}